/* You can add global styles to this file, and also import other style files */
@import url("../node_modules/bootstrap/dist/css/bootstrap.min.css");

/* .container-fluid {
  margin-top: 15px;
} */

.alert {
  margin-top: 5px;
  padding: 10px;
}
